*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: white;
}

#blogItems {
    float: left;
    width: 50%;
}

#blogItem {
    float: right;
    width: 50%;
}

img {
    width: 200px;
    height: 200px;
}